/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.donTitulo{
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.donSubTitulo{
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font-style: italic; */
  font-weight: 750;
}

.card-title{
  font-size: 1.05em !important;
  font-weight: 600 !important;
  line-height: 1.1em !important;
  height: 50px;
  text-align: center;
}
.dones{
  padding:15px;
  box-shadow: 4px 4px 7px rgb(44, 44, 44) !important;
}
.dones-que-tengo{
  background-color:#26867d;
}
.dones-por-desarrollar{
  background-color: #775245;
}
.dones-con-responsabilidad{
  background-color: #c05839;
}
